.container {
  max-width: 1200px;
}
.head {
	text-align: center;
	margin: 2em 0;
  margin-top: 0;
}
.row {
	padding: 10px
}
.rangeLabel{
  font: 1.6em bold;
	color: #98003D;
	text-align: center;
}
h1 {
  text-align: center;
}
#ResultId {
  color: #E4005C;
  opacity: 0.2;
}
#mailButton {
  display: block;
  visibility: hidden;
  padding: 20px 40px;
  text-align: center;
  color: #E4005C;
  border: 2px solid #E4005C;
  border-radius: 6px;
}
#mailButton:hover {
  color: #fff; 
  text-decoration: none;
  background-color: #EB5A95;
  transition: color 500ms linear;
  transition: background-color 500ms ease-in;
}
.footNote{
  padding: 40px 0;
}

/* element rangeUI */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 4.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(228, 0, 94, 0.8);
  border-radius: 6.9px;
  border: 0.7px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 21px;
  width: 17px;
  border-radius: 4px;
  background: rgba(194, 0, 78, 0.64);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 80, 152, 0.8);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(228, 0, 94, 0.8);
  border-radius: 6.9px;
  border: 0.7px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 21px;
  width: 17px;
  border-radius: 4px;
  background: rgba(194, 0, 78, 0.64);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(121, 0, 50, 0.8);
  border: 0.7px solid #000101;
  border-radius: 13.8px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(228, 0, 94, 0.8);
  border: 0.7px solid #000101;
  border-radius: 13.8px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 21px;
  width: 17px;
  border-radius: 4px;
  background: rgba(194, 0, 78, 0.64);
  cursor: pointer;
  height: 12px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(228, 0, 94, 0.8);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 80, 152, 0.8);
}
.form-control:focus {
  border-color: #C2004E;
  background-color: rgba(235,95,149,0.03);
  box-shadow: -1px -1px 2px 1px rgba(228,0,92,0.2);
}
.inLineH {
	display: inline-block;
}

/* pulse */
.cmn-t-pulse {
  padding: 20px 40px;
  border: 2px solid;
  border-radius: 6px;
  animation: pulse 1.4s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
    border-color: rgba(235,95,149,0.03);
    box-shadow: 0 0 3pt 4pt rgba(228,0,92,0.5);
  }

  100% {
    transform: scale(1);
  }
}


